*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poplins', sans-serif;
    background-color: #f1f1f1;

}
.navbar{
    display: flex;
    align-items: center;
    height: 15vh;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(0, 0, 255, 0.57);
    color: #f1f1f1;
}
#Logo{
    font-size: 16px;
    margin-left: px;
    color: black;
}
#logo span{
    color: blue;
    font-size: 10px;
}
#logo:hover{
    color: rgba(208, 227, 33, 0.936);
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-right: 10px;
    /* background-color: aqua; */
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    color: #f1f1f1;
}
.menu ul li a{
    color: blue;
    text-decoration: none;
    padding: 15px 20px ;
}
.menu ul li a:hover{
    color: burlywood;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid black;
    border: none;
    
}